<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSEVideoExtraction.Settings.YouTubeConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CSEVideoExtraction.Settings.APISettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CSEVideoExtraction.Settings.YouTubeConfig>
            <setting name="YouTubeChannel" serializeAs="String">
                <value>UCfSiYryINctnCaKe-jilVeA</value>
            </setting>
            <setting name="FILE_EXPORT_PATH" serializeAs="String">
                <value>c:\temp\bartholomew\output.csv</value>
            </setting>
        </CSEVideoExtraction.Settings.YouTubeConfig>
        <CSEVideoExtraction.Settings.APISettings>
            <setting name="API_KEY" serializeAs="String">
                <value>AIzaSyCn2WcoIo_UxzIICdNTEfS32mN9AkshAhw</value>
            </setting>
            <setting name="GET_CHANNEL_UPLOAD_ID" serializeAs="String">
                <value>channels?id=#CHANNEL_ID#&amp;key=#API_KEY#&amp;part=contentDetails</value>
            </setting>
            <setting name="GET_PLAYLIST_ITEMS" serializeAs="String">
                <value>playlistItems?playlistId=#UPLOAD_ID#&amp;key=#API_KEY#&amp;part=snippet,contentDetails&amp;maxResults=50&amp;pageToken=#PAGE_TOKEN#</value>
            </setting>
            <setting name="GET_VIDEO_DETAILS" serializeAs="String">
                <value>videos?part=snippet,contentDetails&amp;id=#VIDEO_ID#&amp;key=#API_KEY#</value>
            </setting>
            <setting name="API_BASE_URL" serializeAs="String">
                <value>https://www.googleapis.com/youtube/v3/</value>
            </setting>
            <setting name="GET_PLAYLIST_NAME" serializeAs="String">
                <value>playlists?part=snippet&amp;id=#PLAYLIST_ID#&amp;key=#API_KEY#</value>
            </setting>
        </CSEVideoExtraction.Settings.APISettings>
    </userSettings>
</configuration>